body{
    background-color: rgb(221, 221, 147);
}

/* HEADER  */

header{
    width: 100%;
    max-width: 1218px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding-left: 1rem;
    background-color: var(--white);
    padding-right: 10px; 
}

header .container .logo{
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border: 5px solid blue;

}

header .container .headeroptions{
    max-width: 100%;
    display: flex;
    align-content: center;
    margin-right: 16px;
    border: 1px solid salmon;
}

header .container .headeroptions nav{
    border: 5px solid yellow;
}

header .container .headeroptions nav .menuitens{
    border: 5px solid pink;
    align-items: center; 
}

.container .headeroptions .menuitens .menuoption{
    border: 2px solid blue;
    margin: 10px;
}

header .headeroptions ul{
    display: flex;
}

header ul li:last-child{
    margin-right: 0px;
} 

/* SECTION CENTRAL BANNER */

section {
    border: 1px solid black;
}

section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .container .banner-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid green;
    padding: 10px 5px 10px 5px;
}

section .container .banner-left h2{
    display: flex;
    border: 3px solid orangered;
    padding: 10px 5px 10px 5px;
}

section .container .banner-left p{
    display: flex;
    border: 6px solid blueviolet;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 24px;
}
section .container .banner-left .btnone{
    border: 3px solid greenyellow;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 8px;
    padding: 4px 8px 4px 8px;

}



/* FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid salmon;
    padding-top: 25px;
}

footer .socialmedia{
    display: flex;
    border: 3px solid blue;

}

footer .socialmedia a{
    border: 3px solid red;
}