body{
    background: rgb(2,0,36);
    background: linear-gradient(173deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 40%, rgba(0,212,255,1) 100%);
    border: 5px solid blue;
    background-repeat: no-repeat;
    display: flex;
}

nav{
    border: 5px solid green;
    margin: 10px;
    align-items: center;
    align-content: center;
    width: 100%;
}

nav img{
    border: 2px solid red;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;   
}

nav li{
    border: 2px solid red;
    border-radius: 66% 33% 66% 33%;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 20px;   
}


/* .color1 {color: #060606;}
.color2 {color: #202739;}
.color3 {color: #526185;}
.color4 {color: #8b9edd;}
.color5 {color: #bbd3e5;} */

img{
    height: 32px;
}

li{
    list-style-type: none;
}
